* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #ff7a00;
  --dark: #0b1b3b;
  --text-dark: #0b1b3b;
  --text: #5f6c7b;
  --text-light: #ffffff;
  --bg: #ffffff;
  --card: #f9f9fc;
}

/* common style start  */
body {
  background: var(--bg);
  color: var(--text-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-light);
  background: var(--primary);
}

.secondary-btn{
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-dark);
}

.secondary-btn .play {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-subtitle{
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--text);
  font-size: 14px;
}

.section-title{
  font-size: 52px;
  color: var(--text-dark);
  margin: 12px 0 70px;
}

/* common style end */

/* header section style start  */
header {
  padding: 24px 8%;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 30px;
  width: auto;
  display: block;
}

header ul {
  list-style: none;
  display: flex;
}

header ul a {
  margin: 0 30px;
  font-weight: 500;
}
header .auth a {
  margin: 0 16px;
  font-size: 18px;
  font-weight: 500;
}
/* header section style end */

/* hero section style start */
.hero {
  padding: 80px 8%;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  background: url("./assets/Hero-image.png") no-repeat right center;
}

.hero .hero-content {
  max-width: 590px;
}

.hero .hero-content h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 80px;
  color: var(--text-dark);
}

.hero .hero-content p {
  margin: 22px 0 32px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}

.hero .hero-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* hero section style end */

/* service section style start  */
.service{
  padding: 90px 8%;
  text-align: center;
}

.service-card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.service-card{
  background: var(--card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 50px 35px 40px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  transition: transform .3s;
}

.service-card:hover{
  transform: translateY(-10px);
}

.service-image{
  margin-bottom: 40px;
}

.service-card h3{
  font-size: 36px;
  font-weight: 500;
  color: var(--text-dark);
  margin-bottom: 32px;
}

.service-card p{
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 32px;
}
/* service section style end  */

/* components section style start  */
.components{
  padding: 100px 8%;
}

.components .components-container{
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  align-items: center;
  gap: 80px;
}

.components .component-info h3{
  font-size: 22px;
  color: var(--text-dark);
  margin-bottom: 18px;
}

.components .component-info p{
  line-height: 1.7;
  max-width: 420px;
  color: var(--text);
  margin-bottom: 30px;
}

.component-info .outline-btn{
  display: inline-block;
  padding: 10px 28px;
  border-radius: 30px;
  border: 4px solid #e5e7eb;
  font-size: 18px;
  color: var(--text-dark);
}

.components .components-image img{
  width: 100%;
  border-radius: 16px;
  display: block;
}
/* components section style end */