* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #ff7a00;
  --dark: #0b1b3b;
  --text-dark: #0b1b3b;
  --text: #5f6c7b;
  --text-light: #ffffff;
  --bg: #ffffff;
  --card: #f9f9fc;
}

/* common style start  */
body {
  background: var(--bg);
  color: var(--text-dark);
}

a {
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-light);
  background: var(--primary);
  text-align: center;
  text-transform: capitalize;
}

.secondary-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-dark);
}

.secondary-btn .play {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 100px 8%;
  text-align: center;
}

.section-subtitle {
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 28px;
  color: var(--text);
  font-size: 14px;
}

.section-title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 52px;
  color: var(--text-dark);
  margin: 12px 0 70px;
}
/* common style end */

/* header section style start  */
header {
  padding: 42px 8%;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  max-height: 30px;
  width: auto;
  display: block;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header ul a {
  margin: 0 30px;
  font-weight: 500;
}
header .auth a {
  margin: 0 16px;
  font-weight: 500;
}
/* header section style end */

/* hero section style start */
.hero {
  padding: 80px 8%;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  background: url("./assets/Hero-image.png") no-repeat right center;
}

.hero .hero-content {
  max-width: 590px;
}

.hero .hero-content h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 80px;
  color: var(--text-dark);
}

.hero .hero-content p {
  margin: 22px 0 32px;
  padding-right: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}

.hero .hero-actions {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* hero section style end */

/* service section style start  */

.service-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.service-card {
  background: var(--card);
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 50px 35px 40px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-image {
  margin-bottom: 40px;
}

.service-card h3 {
  font-size: 36px;
  font-weight: 500;
  color: var(--text-dark);
  margin-bottom: 32px;
}

.service-card p {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 32px;
}
/* service section style end  */

/* components section style start  */
.components .components-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  text-align: left;
  gap: 80px;
}

.components .component-info h3 {
  font-size: 22px;
  font-weight: 500;
  max-width: 320px;
  color: var(--text-dark);
  margin-bottom: 18px;
}

.components .component-info p {
  line-height: 1.7;
  font-style: 16px;
  max-width: 420px;
  color: var(--text);
  margin-bottom: 30px;
}

.component-info .outline-btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  border: 4px solid #e5e7eb;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-dark);
}

.components .components-image img {
  width: 100%;
  border-radius: 16px;
  display: block;
}
/* components section style end */

/* testimonial section style start  */
.testimonial-section {
  text-align: center;
}

.testimonials-container {
  padding: 100px 8%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 80px;
  min-width: 900px;
  margin: 0 auto;
  text-align: left;
}

.testimonial-item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.testimonial-item img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
}

.testimonial-item p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-dark);
  margin-bottom: 12px;
  min-width: 320px;
}

.testimonial-item h4 {
  font-size: 14px;
  letter-spacing: 2px;
  color: var(--text);
  font-weight: 500;
  text-transform: uppercase;
}
/* testimonial section style end */

/* our team section style start  */
.our-team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.our-team-card {
  background: var(--card);
  border: 1px solid var(--text);
  border-radius: 16px;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.our-team-card h4 {
  color: var(--text-dark);
  font-weight: 600;
  margin-bottom: 6px;
}

.our-team-card p {
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--text);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.our-team-card .our-team-card-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid var(--text); */
}

.our-team-card .our-team-card-footer a {
  font-size: 18px;
  color: var(--text-dark);
  height: 50px;
  border: 1px solid var(--text);
  border-bottom: none;
}

.our-team-card .our-team-card-footer a:nth-child(2n-1) {
  border-right: none;
  border-left: none;
}
/* our team section style end */

/* newsletter section style start */
.newsletter-container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.newsletter-container .newsletter-image img {
  width: 420px;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 40px;
  text-align: left;
}

.newsletter-content p {
  font-size: 18px;
  line-height: 1.8;
  color: var(--text-dark);
}

.newsletter-content .newsletter-input {
  padding: 18px 24px;
  border-radius: 40px;
  border: 1px solid var(--text);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  font-size: 18px;
}
/* newsletter section style end */

/* footer section style start  */
.footer {
  padding: 100px 8% 0;
  margin-top: 120px;
}

.footer-top {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.footer-top .footer-logo {
  display: flex;
  align-items: center;
}

.footer-top p {
  text-align: center;
  font-size: 18px;
  color: var(--text-dark);
}

.footer-top .footer-links {
  display: flex;
  gap: 24px;
}

.footer-top .footer-links a {
  font-size: 18px;
  color: var(--text-dark);
}

.footer hr {
  height: 1px;
  background: var(--text);
  margin: 28px 0;
}

.footer-bottom {
  text-align: left;
  font-size: 18px;
  color: var(--text);
  line-height: 1.8;
  margin-bottom: 45px;
}
/* footer section style end */
